body{
  font-family: Arial;
  color: #555;
}
input[type='date'], input[type='time'] {
    -webkit-appearance: none;
}
.form{
  background-color: #3366aa;
  padding: 20px;
}
textarea {
    resize: none;
}
h1{
  text-align: center;
  color: orange
}
.button-backlog{
  background: transparent;
  box-shadow: none;
  color: #3366aa;
  font-weight: normal;
}
.button-progress{
  background: transparent;
  box-shadow: none;
  color: #c06300;
  font-weight: normal;
}
.button-done{
  background: transparent;
  box-shadow: none;
  color: #007b03;
  font-weight: normal;
}
.button-delete{
  background: transparent;
  box-shadow: none;
  color: #be0000;
  font-weight: normal;
}
.form > h2{
  margin-top: 0
}
.col-3rds{
  box-sizing: border-box;
  width:33.333%;
  float:left;
}
.flex{
  display: flex;
  flex-direction: row;
}

.scrum-board{
  flex: 1;
  padding:20px;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.scrum-board:first-child{
  flex: 1;
  padding:20px;
  border-left:1px solid #ddd;
}
.input-group{
  position: relative;
  display: block;
  padding: 10px;
  border: 1px solid #dddddd;
  border-left: 5px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
}
.input-group span{
  color:#333;
  font-weight: bold;
}
.inline{
  display: inline;
}
.float-right{
  float: right;
}
.overflow{
  overflow: auto;
}
.margin-top-10{
  margin-top: 10px;
}
.backlog h2{
    color:#3366aa
}
.in-progress h2{
    color:#c06300
}
.done h2{
    color:#007b03
}
.drag{
  font-size: 12px;
  color: #333;
  text-decoration: none;
  position: absolute;
  top:5px;
  right: 5px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 5px;
  cursor: move;
}
.placeholder {
  display: block;
  background-color: #fff;
  border: 5px dashed #ededed;
  min-height: 100px;
  margin-bottom: 10px;
}
.fa{
  
  float: right;
  margin : 4px 4px;
  cursor: pointer;
}